body {
    background-image: url("assets/home/background-home-desktop.jpg");
    background-repeat: no-repeat;
    image-orientation: none;  
    width: 1440px;
    height: 900px;
    margin: 0;
    padding: 0%;
    border: 0;
    position: fixed;
}
p {
    margin: 0;

}

/***************Class Selectors****************/
.oval-bottom {
    position: absolute;
    height: 230px;
    width: 230px;
    border-radius: 50%;
    left: 1001px;
    top: 300px; 
    background-color: #ffffff;

}

.explore {
    position: relative;
    top: 100px;
    bottom: 118px;
    left: 60px;
    right: 64px;
    height: 37px;
    width: 148px;
    font-size: 2rem;
    line-height: 37px;
    font-weight: 400;
    font-style: normal;
}